{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %} 

<h1>Edition de l'utilisateur {{ entity.login }}</h1>

<form action="{{ path('admin_user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
        <button type="submit">Editer</button>
    </form>

    <ul class="record_actions">
        <li>
            <form action="{{ path('admin_user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                    <button type="submit">Supprimer</button>
                </form>
            </li>
            <li>
                <a href="{{ path('admin_user') }}">
                    Retour aux utilisateurs
                </a>
            </li>
        </ul>
{% endblock %}