{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %} 

<h1>User list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Login</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Mail</th>
            <th>Status</th>
            <th>Authtype</th>
            <th>R&ocirc;les</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% set i = 0 %}
    {% for entity in entities %}
            <tr class="{%if i%2 == 0 %} positionA {%else%} positionB {%endif%}" >
                <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.login }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.mail }}</td>
                <td><form action="{{ path('admin_user_status_switch', { 'userId': entity.id }) }}" method="post" {{ form_enctype(statusForms[entity.id]) }}>
                {{ form_widget(statusForms[entity.id]) }}
            <button type="submit" class="admin-buttons">
{% if entity.getIsSuspended() %}
        <img src="{{ asset('bundles/imrimlms/images/cancel.png') }}" alt=""/>
{% else %}
        <img src="{{ asset('bundles/imrimlms/images/check.png') }}" alt=""/>
{% endif %}
</button>
    </form></td>
                <td>{{ entity.authType }}</td>
                <td><form action="{{ path('admin_user_role_switch', { 'userId': entity.id, 'role': 'student' }) }}" method="post" {{ form_enctype(studentRoleForms[entity.id]) }}>
                {{ form_widget(studentRoleForms[entity.id]) }}
            <button type="submit" class="{% if entity.getStudentRole() %}button_on{% else %}button_off{% endif %}">Apprenant</button>
    </form>
<form action="{{ path('admin_user_role_switch', { 'userId': entity.id, 'role': 'teacher' }) }}" method="post" {{ form_enctype(teacherRoleForms[entity.id]) }}>
                {{ form_widget(teacherRoleForms[entity.id]) }}
            <button type="submit" class="{% if entity.getTeacherRole() %}button_on{% else %}button_off{% endif %}">Enseignant</button>
    </form>
<form action="{{ path('admin_user_role_switch', { 'userId': entity.id, 'role': 'admin' }) }}" method="post" {{ form_enctype(adminRoleForms[entity.id]) }}>
                {{ form_widget(adminRoleForms[entity.id]) }}
            <button type="submit" class="{% if entity.getAdminRole() %}button_on{% else %}button_off{% endif %}">Admin</button>
    </form>
</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_user_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% set i=i+1 %}
    {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

{% endblock %}
