{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %} 

<h1>Utilisateur {{ entity.login }}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Identifiant</th>
            <td>{{ entity.login }}</td>
        </tr>
        <tr>
            <th>Pr&eacute;nom</th>
            <td>{{ entity.firstName }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ entity.lastName }}</td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>{{ entity.mail }}</td>
        </tr>
        <tr>
            <th>Inactif</th>
            <td>{{ entity.isSuspended }}</td>
        </tr>
        <tr>
            <th>Avatar</th>
            <td>{{ entity.avatar }}</td>
        </tr>
        <tr>
            <th>Authentification</th>
            <td>{{ entity.authType }}</td>
        </tr>
        <tr>
            <th>Date de cr&eacute;ation</th>
            <td>{{ entity.creationTime|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Date de mise &agrave; jour</th>
            <td>{{ entity.updateTime|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Premi&egrave;re connexion</th>
            <td>{{ entity.firstAccessTime|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Derni&egrave;re connexion</th>
            <td>{{ entity.lastLoginTime|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            Retour aux utilisateurs
        </a>
    </li>
    <li>
        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
    <li>
        <form action="{{ path('admin_user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}