<div id="admin-menu-block">
    <div class="block">
        <div class="menu-title">Administration</div>
        <div class="menu-content">
            <div id="admin-menu-content">
                <div class="menu-item">
                    <a href="{{ path('admin_category') }}"><img src="{{ asset('bundles/imrimlms/images/account.png') }}" alt="Cat&eacute;gories"/><br>Cat&eacute;gories</a>
                </div>
                <div class="menu-item">
                    <td><a href="{{ path('admin_user') }}"><img src="{{ asset('bundles/imrimlms/images/account.png') }}" alt="Utiliateurs"/><br>Utilisateurs</a></td>
                </div>
                <div class="menu-item">
                    <td><a href="{{ path('imrim_lms_course_list_admin') }}"><img src="{{ asset('bundles/imrimlms/images/account.png') }}" alt="Cours"/><br>Cours</a></td>
                </div>
            </div>
        </div>
    </div>
</div>
