<div id="menu-block">
    <div class="block">
        <div class="menu-title">Menu</div>
        <div class="menu-content">
            <div id="menu-content">
                <div class="menu-item">
                    <a href="{{ path('imrim_lms_course_list') }}"><img src="{{ asset('bundles/imrimlms/images/account.png') }}" alt="Compte"/><br>Mon Compte</a>
                </div>
                <div class="menu-item">
                    <a href="{#{ path('imrim_lms_course_list') }#}"><img src="{{ asset('bundles/imrimlms/images/messages.png') }}" alt="Messages"/><br>My Messages</a>
                </div>
                <div class="menu-item">
                    <a href="{{ path('logout') }}"><img src="{{ asset('bundles/imrimlms/images/logout.png') }}" alt="D&eacute;connexion"/><br>D&eacute;connexion</a>
                </div>
            </div>
        </div>
    </div>
</div>

