{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %} 

{% include "IMRIMLmsBundle::menu.html.twig" %}

<h1>Gestion des cat&eacute;gories</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Nom de la cat&eacute;gorie</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>
                <a href="{{ path('admin_category_edit', { 'id': entity.id }) }}"><img src="{{ asset('bundles/imrimlms/images/edit.png') }}" alt="Editer"/></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h1>Cr&eacute;ation de cat&eacute;gorie</h1>
<ul>
    <li>
        <a href="{{ path('admin_category_new') }}">
            Cr&eacute;er une nouvelle cat&eacute;gorie <img src="{{ asset('bundles/imrimlms/images/add_category.png') }}" alt="Cr&eacute;er"/>
        </a>
    </li>
</ul>

{% endblock %}

{% block menu %} 
                        <a href="{{ path('welcome_admin') }}">Accueil</a>
{% endblock %}
