{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %}
{#<img src= {{ path('pieChart') }} alt="PieChart" width="400" height="250" />#}

<h1>Nombre d'inscrits à la plateforme: {{ nbOfUsers }}</h1>

  {{ scriptJSGeo | raw }}
 {# display the pie chart created with the api google #}

<h1>Pourcentage d'utilisateurs inscrits à un cours: </h1>
<select name='course' onChange="update(this.value)">
{% for course in courses %}
        <option value='{{ course.id }}'>{{ course.name }}</option>
{% endfor %}
    </select>
<script style="text\javascript">
function update(value)
{ 
     //Ar = value;
    //document.form2.vue.value = Ar;
}
</script> 
  {{ scriptJSPie | raw }}
{% endblock %}