{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %}
{#<img src= {{ path('pieChart') }} alt="PieChart" width="400" height="250" />#}

<h1>Nombre d'inscrits à la plateforme: {{ nbOfUsers }}</h1>
  {{ scriptJSCol | raw }}
 {# display the pie chart created with the api google #}

<h1>Pourcentage d'utilisateurs inscrits à un cours: </h1>
  {{ scriptJSPie | raw }}

<h1>Durée moyenne d'utilisation: </h1>
  {{ scriptJSBar | raw }}
  {{ scriptJSBar2 | raw }}

<h1>Liste des utilisateurs n'ayant pas fini le cours avant le date de fin imposée: </h1>
  {{ scriptJSTable | raw }}

<input type="button" name="dllink" value="Télécharger le pdf" onclick="self.location.href='{{ path('export2pdf') }}'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 
{% endblock %}