{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %} 

{% include "IMRIMLmsBundle::menu.html.twig" %}
<h1>Mes cours</h1>
<div id="course-block">
{% for course in courses %}
        <div class="course_outline">
            <div class="course_outline_img"><img src="{{ asset('bundles/imrimlms/images/icons/Tag.png') }}" alt="{{course}}"/></div>
            <div><span class="course_outline_title"><a href="{{ path("imrim_lms_course_view", {'courseId': course.id, 'position': 1}) }}">{{course}}</a></span>
                <ul>
                    <li class="course_outline_menu_item"><a href="{{ path("imrim_lms_course_edit", {'id':course.id}) }}"><img src="{{ asset('bundles/imrimlms/images/icons/edit.png') }}" alt="Editer"/></a></li>
                    <li class="seperate"></li>
                    <li class="course_outline_menu_item"><a href="{{ path("imrim_lms_course_users", {'courseId':course.id}) }}"><img src="{{ asset('bundles/imrimlms/images/icons/buddy_group.png') }}" alt="Gestion des inscrits"/></a></li>
                    <li class="seperate"></li>
                    <li class="course_outline_menu_item"><a href="{{ path("imrim_lms_course_teachers", {'courseId':course.id}) }}"><img src="{{ asset('bundles/imrimlms/images/icons/buddy.png') }}" alt="Gestion des enseignants"/></a></li>
                </ul>
            </div>
                <div id="course_outline_summary">{{ course.summary | raw }}</div>
        </div>
{% endfor %}
    </div>

    <div id="courses-creation-block">
        <h1>Cr&eacute;ation d'un cours</h1>
        <ul>
            <li>
                <a href="{{ path('imrim_lms_course_create') }}">
                    Cr&eacute;er un nouveau cours <img src="{{ asset('bundles/imrimlms/images/add_category.png') }}" alt="Cr&eacute;er"/>
                </a>
            </li>
        </ul>
    </div>

{% endblock %}


{% block menu %} 
    <a href="{{ path('welcome_admin') }}">Accueil</a>
{% endblock %}
