{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block css %}
    {{ parent() }}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css" type="text/css" media="all"/>
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(function (){
        $("#imrim_bundle_lmsbundle_coursetype_startDate" ).datepicker({ dateFormat: 'dd-mm-yy' });
        $("#imrim_bundle_lmsbundle_coursetype_expirationDate" ).datepicker({ dateFormat: 'dd-mm-yy' });
    });
    </script>
{% endblock %}

{% block content %} 
    <form action="{{ path('imrim_lms_course_create') }}" method="post" {{ form_enctype(form) }}>
{{ form_widget(form) }}
            <input name="submit" type="submit">
        </form>
        <ul class="record_actions">
            <li>
                <a href="{% if is_granted('ROLE_ADMIN')%}{{ path('imrim_lms_course_list_admin') }} {% else %}{{ path('imrim_lms_course_list') }} {% endif %}">
                    Retour aux cours
                </a>
            </li>
        </ul>
{% endblock %}