{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block css %}
    {{ parent() }}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css" type="text/css" media="all"/>
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(function (){
        $("#imrim_bundle_lmsbundle_coursetype_startDate" ).datepicker({ dateFormat: 'dd-mm-yy' });
        $("#imrim_bundle_lmsbundle_coursetype_expirationDate" ).datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>
{% endblock %}

{% block content %} 
<h2> &Eacute;dition du cours </h2>
<form action="{{ path('imrim_lms_course_edit', { 'id':id } ) }}" method="post" {{ form_enctype(form) }}>
{{ form_widget(form) }}
<input name="submit" type="submit">
</form>
<form action="{{ path('imrim_lms_course_delete', { 'id': id }) }}" method="post">
            {{ form_widget(deleteCourseForm) }}
            <button name="delete" type="submit">Supprimer</button>
</form>

<a href="{{ path('imrim_lms_course_list') }}">
                Back to the list
            </a>
<h2>D&eacute;roulement du cours </h2>
<a href="{{ path('imrim_lms_lesson_create', {'courseId': id}) }}">Ajouter une le&ccedil;on</a>
<table>
    <tr>
        <th>Position</th>
        <th>Titre</th>
        <th>Type</th>
    </tr>
    {% for item in associatedRessources %}
    <tr>
        <td>{{ item.getCoursePosition() }}</td>
        <td><a href="{{ path('imrim_lms_lesson_edit', {'courseId' : id, 'lessonId' : item.getId})}}">{{ item.getTitle() }}</a></td>
        <td>{{ item.getType() }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}