{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %} 

{% include "IMRIMLmsBundle::menu.html.twig" %}
<h2>Les cours auxquels je suis inscrit :</h2>
<table class="course-table">
    <tbody>
        {% for enrolment in courseEnrolments %}
            <tr>
                <td width = 60% >{% if enrolment.course.haveLesson() %}<a href="{{ path("imrim_lms_course_view", {'courseId': enrolment.course.id, 'position': 1}) }}">{{enrolment.course}}</a>{% else %}{{enrolment.course}} (indisponnible){% endif %}</td>

                <td style="text-align: center">   <form action="{{ path('imrim_lms_course_unsubscribe', { 'id': enrolment.course.id }) }}" method="post">
            {{ form_widget(courseEnrolmentForms[enrolment.course.id]) }}
                                <button type="submit">Me d&eacute;sinscrire</button>
                            </form>
                        </td>
                       {% if courseResponsibilities[enrolment.course.id] %}
                        <td> <a href="{{ path('imrim_lms_course_edit', { 'id': enrolment.course.id }) }}">Editer</a></td>
{% endif %} 
                    </tr>
    {% endfor %} 
                </tbody>
            </table>

            <h2>Les cours auxquels je peux m'inscrire :</h2>
            <table class="course-table">
                <tbody>
    {% for id, inscriptibleCourse in inscriptibleCourses %}
                        <tr>
                            <td width = 60%>
                                {{inscriptibleCourse}}
                                </td>
{% if courseResponsibilities[inscriptibleCourse.id] %}
                                <td>
                                    <a href="{{ path('imrim_lms_course_edit', { 'id':id }) }}">Editer</a>
                                </td>
{% endif %} 

                                <td style="text-align: center">
                                    <form action="{{ path('imrim_lms_course_subscribe', { 'id': id }) }}" method="post">
            {{ form_widget(inscriptibleCourseForm[id]) }}
                                            <button type="submit">M'inscrire</button>
                                        </form>
                                    </td>
                                </tr>
    {% endfor %}
                            </tbody>

                        </table>
{% endblock %}

{% block menu %} 
                        <a href="{{ path('welcome_student') }}">Accueil</a>
{% endblock %}
